$app-primary: (50 : #eceff1,
100 : #cfd8dc,
200 : #b0bec5,
300 : #90a4ae,
400 : #78919c,
500 : #607d8b,
600 : #587583,
700 : #4e6a78,
800 : #44606e,
900 : #334d5b,
A100 : #abe1ff,
A200 : #78ceff,
A400 : #45bcff,
A700 : #2bb3ff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #ffffff,
A700 : #ffffff,
));

$app-accent: (50 : #e2e9f4,
100 : #b6c8e3,
200 : #86a3d0,
300 : #567ebd,
400 : #3163af,
500 : #0d47a1,
600 : #0b4099,
700 : #09378f,
800 : #072f85,
900 : #032074,
A100 : #a2b4ff,
A200 : #6f8aff,
A400 : #3c61ff,
A700 : #234cff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

@import '~@angular/material/_theming';

// Include non-theme styles for core.
@include mat-core();

.light-theme {
  // Define a theme.
  $custom-primary: mat-palette($app-primary);
  $custom-accent: mat-palette($app-accent);
  $custom-light-theme: mat-light-theme($custom-primary, $custom-accent);
  // Include all theme styles for the components.
  @include angular-material-theme($custom-light-theme);
}

.dark-theme {
  // Define a theme.
  $custom-primary: mat-palette($app-primary);
  $custom-accent: mat-palette($app-accent);
  $custom-dark-theme: mat-dark-theme($custom-primary, $custom-accent);
  // Include all theme styles for the components.
  @include angular-material-theme($custom-dark-theme);
}


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config($font-family: 'Noto Sans, monospace',
$headline: mat-typography-level(32px, 48px, 700),
$body-1: mat-typography-level(16px, 24px, 400));

// Override the typography in the core CSS.
@include mat-core($custom-typography);
