<div mat-dialog-title>Add New Device</div>
<mat-dialog-content>
  <form [formGroup]="deviceDetailsForm">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Device Name (optional)" formControlName="name">
          <mat-hint>e.g. Living Room Fan</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Device Address" formControlName="ip">
          <mat-hint>IP Address of host device</mat-hint>
          <mat-error *ngIf="deviceDetailsForm.get('ip').touched && deviceDetailsForm.get('ip').hasError('required')">
            Device Address is <strong>required</strong>.
          </mat-error>
          <mat-error
            *ngIf="!deviceDetailsForm.get('ip').hasError('required') && deviceDetailsForm.get('ip').hasError('IPAddress')">
            Device Address is <strong>invalid</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" class="text-white" [mat-dialog-close]="deviceDetailsForm.value"
    [disabled]="deviceDetailsForm.invalid">Submit</button>
</mat-dialog-actions>
