<h4 mat-dialog-title>{{ title }}</h4>
<div>
  <div class="row">
    <div class="col-12">
      <span>{{ messageLine1 }}</span><br>
      <span *ngIf="messageLine2">{{ messageLine2 }}</span>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary" [mat-dialog-close]="false">{{ cancelText }}</button>
    <button mat-raised-button color="primary" class="text-white" [mat-dialog-close]="true">{{ successText }}</button>
  </mat-dialog-actions>
</div>
