<div mat-dialog-title>{{ dialogTitle }}</div>
<mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Enter RPM" [formControl]="rpmToSet">
        <mat-error *ngIf="rpmToSet.touched && rpmToSet.hasError('required')">
          RPM is <strong>required</strong>.
        </mat-error>
        <mat-error *ngIf="rpmToSet.touched && rpmToSet.hasError('min')">
          RPM must be <strong>positive</strong>.
        </mat-error>
        <mat-error *ngIf="rpmToSet.touched && rpmToSet.hasError('max')">
          RPM must be <strong>less than 1000</strong>.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" class="text-white" [mat-dialog-close]="rpmToSet.value" [disabled]="rpmToSet.invalid">Update RPM</button>
</mat-dialog-actions>
