<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#0d47a1" type="ball-atom">
</ngx-spinner>
<mat-toolbar color="primary" class="mat-elevation-z8">
  <img src="../assets/img/app-icon.svg" alt="app-icon" class="app-icon">
  <span>L293D Controller</span>
  <span class="fill-space"></span>
  <mat-icon class="example-icon mr-2" (click)="toggleDarkMode()" matTooltip="Toggle Dark Theme">brightness_medium
  </mat-icon>
</mat-toolbar>
<div class="container-fluid animated fadeIn">
  <div class="row mt-4">
    <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3">
      <mat-card>
        <div class="row" *ngIf="selectedDevice">
          <div class="col-9">
            <p class="mb-0">Master Switch</p>
            <p class="text-muted">Connect to {{ selectedDevice.name }}</p>
          </div>
          <div class="col-3" align="end">
            <mat-slide-toggle *ngIf="!showStartSystemSpinner" color="accent" [checked]="systemConnected" (click)="toggleMasterSwitch()" (dragChange)="toggleMasterSwitch()"></mat-slide-toggle>
          </div>
        </div>
        <div class="row" *ngIf="savedDevices.length == 0">
          <div class="col-12">
            <h5 class="text-center"><span>No devices found. <br> Click on <button *ngIf="savedDevices.length == 0" mat-mini-fab color="primary"
              matTooltip="Add Device" matTooltipPosition="below" (click)="showAddDeviceDialog()">
              <mat-icon>add</mat-icon>
            </button> to add new device.</span></h5>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-4 animated fadeIn" *ngIf="systemConnected">
    <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3">
      <mat-card>
        <mat-card-subtitle>Motor State</mat-card-subtitle>
        <mat-card-content>
          <h1 *ngIf="motorState" class="text-success">Running</h1>
          <h1 *ngIf="!motorState" class="text-danger">Stopped</h1>
        </mat-card-content>
        <div class="row">
          <div class="col-6">
            <mat-card-subtitle>Current Set RPM</mat-card-subtitle>
            <mat-card-content>
              <h2>{{ currentRpm }}</h2>
            </mat-card-content>
          </div>
          <div class="col-6">
            <mat-card-subtitle>Realtime RPM</mat-card-subtitle>
            <mat-card-content>
              <h2 *ngIf="motorState">{{ realtimeRPM }}</h2>
              <h2 *ngIf="!motorState">0</h2>
            </mat-card-content>
          </div>
        </div>
        <mat-card-actions>
          <button mat-button (click)="showSetRPMDialog()">Set New RPM</button>
          <button mat-raised-button *ngIf="!motorState" color="primary" (click)="toggleMotor()">Start Motor</button>
          <button mat-raised-button *ngIf="motorState" color="warn" (click)="toggleMotor()">Stop Motor</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<button *ngIf="savedDevices.length > 0" mat-fab color="primary" class="fab" matTooltip="Device Configuration"
  matTooltipPosition="before" (click)="showDeviceConfigDialog()">
  <mat-icon>settings_ethernet</mat-icon>
</button>
<button *ngIf="savedDevices.length == 0" mat-fab color="primary" class="fab" matTooltip="Add Device"
  matTooltipPosition="before" (click)="showAddDeviceDialog()">
  <mat-icon>add</mat-icon>
</button>
