<div mat-dialog-title>Manage Devices</div>
<mat-dialog-content>
  <div class="row" *ngIf="savedDevices.length > 1">
    <div class="col-12" align="end">
      <button mat-icon-button matTooltip="Sort By Name" matTooltipPosition="below" (click)="toggleSort('name')"><mat-icon>sort_by_alpha</mat-icon></button>
      <button mat-icon-button matTooltip="Sort By Date Added" matTooltipPosition="below" (click)="toggleSort('time')"><mat-icon>access_time</mat-icon></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="text-center" *ngIf="savedDevices.length == 0">No Devices Found!</h4>
      <mat-list *ngIf="savedDevices.length > 0">
        <mat-list-item *ngFor="let device of savedDevices; index as $index">
          <h4 mat-line>{{ $index + 1 }}. {{device.name}}</h4>
          <p mat-line class="ml-3 ml-sm-4 text-muted"> Added {{ device.addedOn | amTimeAgo }} </p>
          <mat-icon class="pull-right mr-3" color="primary" matTooltip="Set as Selected Device" matTooltipPosition="below" (click)="updateSelectedDevice(device.id)">link</mat-icon>
          <mat-icon class="pull-right" color="warn" matTooltip="Remove Device" matTooltipPosition="below" (click)="removeDevice(device)">delete</mat-icon>
          <mat-divider *ngIf="savedDevices.length > 1"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="pull-right" color="primary" [mat-dialog-close]>Close</button>
  <button mat-raised-button class="pull-left" color="primary" [mat-dialog-close]="{action: 'add-device'}">Add  Device</button>
</mat-dialog-actions>
